<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mhk.TimeConvertTestMapper">

    <!-- Insert -->
    <insert id="insert">
        INSERT INTO kotlin_study.time_convert_test (string_to_year_month,
                                                    string_to_local_date,
                                                    date_to_local_date,
                                                    string_to_local_date_time,
                                                    timestamp_to_local_date_time,
                                                    date_time_to_local_date_time)
        VALUES (#{stringToYearMonth, typeHandler=mhk.typehandler.each.StringToYearMonthTypeHandler},
                #{stringToLocalDate, typeHandler=mhk.typehandler.each.StringToLocalDateTypeHandler},
                #{dateToLocalDate, typeHandler=mhk.typehandler.each.DateToLocalDateTypeHandler},
                #{stringToLocalDateTime, typeHandler=mhk.typehandler.each.StringToLocalDateTimeTypeHandler},
                #{timestampToLocalDateTime, typeHandler=mhk.typehandler.each.TimestampToLocalDateTimeTypeHandler},
                #{dateTimeToLocalDateTime}
               )
    </insert>

    <!-- Select -->
    <select id="selectAll" resultMap="timeConvertTestMap">
        SELECT id,

               string_to_year_month,

               string_to_local_date,
               date_to_local_date,

               string_to_local_date_time,
               timestamp_to_local_date_time,
               date_time_to_local_date_time

        FROM kotlin_study.time_convert_test
    </select>

    <resultMap id="timeConvertTestMap" type="mhk.TimeConvertTestDto">
        <id property="id" column="id"/>

        <result property="stringToYearMonth" column="string_to_year_month" typeHandler="mhk.typehandler.each.StringToYearMonthTypeHandler"/>

        <result property="stringToLocalDate" column="string_to_local_date" typeHandler="mhk.typehandler.each.StringToLocalDateTypeHandler"/>
        <result property="dateToLocalDate" column="date_to_local_date" typeHandler="mhk.typehandler.each.DateToLocalDateTypeHandler"/>

        <result property="stringToLocalDateTime" column="string_to_local_date_time" typeHandler="mhk.typehandler.each.StringToLocalDateTimeTypeHandler"/>
        <result property="timestampToLocalDateTime" column="timestamp_to_local_date_time" typeHandler="mhk.typehandler.each.TimestampToLocalDateTimeTypeHandler"/>
        <result property="dateTimeToLocalDateTime" column="date_time_to_local_date_time" typeHandler="mhk.typehandler.each.TimestampToLocalDateTimeTypeHandler"/>
    </resultMap>

    <select id="selectAll2">
        SELECT
            id,
            string_to_year_month,
            string_to_local_date,
            date_to_local_date,
            string_to_local_date_time,
            timestamp_to_local_date_time,
            date_time_to_local_date_time

        FROM kotlin_study.time_convert_test
    </select>

    <select id="selectAll3" resultMap="timeConvertTestMap3">
        SELECT id,

               string_to_year_month,

               string_to_local_date,
               date_to_local_date,

               string_to_local_date_time,
               timestamp_to_local_date_time,
               date_time_to_local_date_time

        FROM kotlin_study.time_convert_test
    </select>

    <resultMap id="timeConvertTestMap3" type="mhk.TimeConvertTestDto">
        <id property="id" column="id"/>

        <result property="stringToYearMonth" column="string_to_year_month" typeHandler="mhk.typehandler.each.StringToYearMonthTypeHandler"/>

        <result property="stringToLocalDate" column="string_to_local_date" typeHandler="mhk.typehandler.each.StringToLocalDateTypeHandler"/>
        <result property="dateToLocalDate" column="date_to_local_date" typeHandler="mhk.typehandler.each.DateToLocalDateTypeHandler"/>

        <result property="stringToLocalDateTime" column="string_to_local_date_time" typeHandler="mhk.typehandler.each.LocalDateTimeSmartHandler"/>
        <result property="timestampToLocalDateTime" column="timestamp_to_local_date_time" typeHandler="mhk.typehandler.each.LocalDateTimeSmartHandler"/>
        <result property="dateTimeToLocalDateTime" column="date_time_to_local_date_time" typeHandler="mhk.typehandler.each.LocalDateTimeSmartHandler"/>
    </resultMap>
</mapper>
